name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 5 1,15 * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -e {0} # -e to fail on error

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12", "3.13"]

    name: Python ${{ matrix.python-version }}

    environment:
      name: codecov

    steps:
      - name: Checkout ${{ github.ref }}
        uses: actions/checkout@v5

      - name: Install uv and setup Python
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true
          restore-cache: true
          save-cache: true
          cache-dependency-glob: "uv.lock"
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run prek (pre-commit)
        run: |
          uvx prek run

      - name: Install Dependencies
        run: |
          uv sync --group test --frozen

      - name: Test
        env:
          MPLBACKEND: agg
          DISPLAY: :42
        run: |
          uv run --frozen pytest -n auto --cov --cov-report=xml -v --color=yes --junitxml=junit.xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          use_oidc: true
  check:
    name: All tests pass for all Python versions
    if: always()
    needs:
      - test
    runs-on: ubuntu-latest
    steps:
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
